.idea
.vscode
.DS_Store
*.lock
*.log
examples/*.log
runs/
examples/**/runs/
**/online_eval_metrics.json
**/offline_metrics.json
**/trace_metrics.json
**/trace_evalset.json

trpc-agent-py.egg-info

build
dist
.venv
venv
venv*
__pycache__

.coverage
htmlcov
cov.tmp
coverage.xml
test-ngtest-ut-trpc-agent-py.xml
.pytest_cache

node_modules
package-lock.json
pyrightconfig.json
