wheel
setuptools
pydantic==2.11.3
numpy==2.2.5
shapely<3.0.0
google-genai==1.24.0
protobuf==5.29.5

mcp==1.10.1
openai>=1.93.2
google-genai==1.24.0
graphviz==0.21
opentelemetry-sdk>=1.27.0,<2.0.0
opentelemetry-exporter-otlp-proto-http>=1.27.0,<2.0.0
fastapi==0.116.1
uvicorn==0.35.0
langchain==0.3.27
langgraph==0.6.0
docker==7.1.0
jinja2==3.1.6
SQLAlchemy==2.0.45
aiomysql==0.3.2
aiosqlite==0.22.1
PyMySQL==1.1.2
anthropic==0.72.1
mem0ai==1.0.3

opentelemetry-api==1.36.0
opentelemetry-exporter-otlp-proto-common==1.36.0
opentelemetry-exporter-otlp-proto-grpc==1.36.0
opentelemetry-exporter-otlp-proto-http==1.36.0
opentelemetry-instrumentation==0.57b0
opentelemetry-instrumentation-asgi==0.57b0
opentelemetry-instrumentation-fastapi==0.57b0
opentelemetry-instrumentation-logging==0.57b0
opentelemetry-instrumentation-requests==0.57b0
opentelemetry-instrumentation-sqlalchemy==0.57b0
opentelemetry-instrumentation-threading==0.57b0
opentelemetry-instrumentation-urllib3==0.57b0
opentelemetry-proto==1.36.0
opentelemetry-sdk==1.36.0
opentelemetry-semantic-conventions==0.57b0
opentelemetry-util-http==0.57b0


# Common tools dependencies
rapidfuzz>=3.0.0
charset-normalizer>=3.0.0

litellm>=1.75.5
